<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!--定时中台-->
    <!--<add key="ScheduleTaskInterface" value="http://localhost:59913/" />-->
    <add key="ScheduleTaskInterface" value="http://192.168.101.62:23700/" />
    
    <!--账户账户中台-->
    <!--<add key="AccountInterface" value="http://localhost:54134/" />-->
    <add key="AccountInterface" value="http://192.168.101.62:23690/" />

    <!--平台日志中台-->
    <add key="LogDataInterface" value="http://192.168.101.62:23670/" />

    <!--平台用户中台-->
    <add key="MemberDataInterface" value="http://192.168.101.62:23655/" />

    <!--订单中台-->
    <add key="OrderDataInterface" value="http://192.168.101.62:23645/" />

    <!--平台店铺商品中台-->
    <add key="ShopProductInterface" value="http://192.168.101.62:23650/" />

    <!--基础信息中台-->
    <add key="BasicInformationface" value="http://192.168.101.62:23675/" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="JobContext" connectionString="data source=192.168.101.170;initial catalog=DAYTPlatform;user id=sa;password=Aa1234567;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>